{% load static %}

<!-- ======= Cards Section ======= -->
<section id="cards" class="cards">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="card">
          <img
            src="{% static 'assets/img/card-1.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"><a href="">Innovative Design Solutions</a></h5>
            <p class="card-text">
              Indulge in the Artistry of Web Design with Our Templates, Crafted for a Modern Digital Landscape, Pioneering Creativity and Innovation.
            </p>
            <a href="#" class="btn">Explore more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="card">
          <img
            src="{% static 'assets/img/card-2.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"><a href="">Responsive Across Devices</a></h5>
            <p class="card-text">
              Enjoy a Seamless User Experience Anywhere, Anytime – Our Templates Ensure Responsiveness Across a Myriad of Devices for Unmatched Accessibility.
            </p>
            <a href="#" class="btn">Explore more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="card">
          <img
            src="{% static 'assets/img/card-3.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Dynamic Django Integration</a>
            </h5>
            <p class="card-text">
              Experience Interactive Functionality Unleashed – Our Templates Seamlessly Integrate Django, Bringing Dynamism and Flexibility to Your Digital Presence.
            </p>
            <a href="#" class="btn">Explore more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Cards Section -->
