{% load static %}
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div
      id="heroCarousel"
      data-bs-interval="5000"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div
          class="carousel-item active"
          style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})"
        >
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">
                Elevate Your Online Presence
              </h2>
              <p class="animate__animated animate__fadeInUp">
                With a sleek design and seamless functionality, our templates from Template Voyage bring your digital identity to new heights. Explore the art of innovation and creativity in every pixel.
              </p>
              <a
                href="#about"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Read More</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div
          class="carousel-item"
          style="background-image: url({% static 'assets/img/slide/slide-2.jpg' %})"
        >
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">
                Crafted for Creatives
              </h2>
              <p class="animate__animated animate__fadeInUp">
                Designed with passion by Template Voyage, our templates empower freelancers and agencies to showcase their work with style. Unleash your creativity and leave a lasting impression online.
              </p>
              <a
                href="#about"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Read More</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div
          class="carousel-item"
          style="background-image: url({% static 'assets/img/slide/slide-3.jpg' %})"
        >
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">
                Seamless Digital Experiences
              </h2>
              <p class="animate__animated animate__fadeInUp">
                Experience the future of web design. Template Voyage brings you a responsive, customizable, and visually stunning template. Your online journey begins here, where innovation meets functionality.
              </p>
              <a
                href="#about"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>

      <a
        class="carousel-control-prev"
        href="#heroCarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon bi bi-chevron-double-left"
          aria-hidden="true"
        ></span>
      </a>

      <a
        class="carousel-control-next"
        href="#heroCarousel"
        role="button"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon bi bi-chevron-double-right"
          aria-hidden="true"
        ></span>
      </a>
    </div>
  </div>
</section>
<!-- End Hero -->
