<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Services</h2>
      <p>
        Explore a spectrum of tailored services at Template Voyage, where
        innovation and expertise converge. Our commitment goes beyond templates;
        we offer a suite of services designed to elevate your digital journey.
      </p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="icon-box">
          <i class="bi bi-briefcase"></i>
          <h4><a href="#">Web Design Consultation</a></h4>
          <p>Crafting your digital identity with expert guidance.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-card-checklist"></i>
          <h4><a href="#">Custom Template Development </a></h4>
          <p>Tailored templates designed to match your unique vision.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-bar-chart"></i>
          <h4><a href="#">Django Integration Solutions </a></h4>
          <p>Seamless integration for dynamic web applications.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-binoculars"></i>
          <h4><a href="#">User Experience Optimization </a></h4>
          <p>Enhance user engagement with intuitive design principles.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-brightness-high"></i>
          <h4><a href="#">Technical Support & Maintenance </a></h4>
          <p>
            Reliable support to ensure your digital presence is always at its
            best.
          </p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-calendar4-week"></i>
          <h4><a href="#">User Experience Optimization </a></h4>
          <p>Enhance user engagement with intuitive design principles.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
