{% extends "_base.html" %} {% block main %}

<!-- ======= About Section ======= -->
{% include "sections/_about.html" %}
<!-- End About Section -->

<!-- ======= Cards Section ======= -->
{% include "sections/_cards.html" %}
<!-- End Cards Section -->

<!-- ======= Services Section ======= -->
{% include "sections/_services.html" %}
<!-- End Services Section -->

<!-- ======= Cta Section ======= -->
{% include "sections/_cta.html" %}
<!-- End Cta Section -->

<!-- ======= Portfolio Section ======= -->
{% include "sections/_portfolio.html" %}
<!-- End Portfolio Section -->

<!-- ======= Pricing Section ======= -->
{% include "sections/_pricing.html" %}
<!-- End Pricing Section -->

<!-- ======= Team Section ======= -->
{% include "sections/_team.html" %}
<!-- End Team Section -->

<!-- ======= Contact Section ======= -->
{% include "sections/_contact.html" %}
<!-- End Contact Section -->

{% endblock main %}
